$color--header-background: #394951;
$color--footer-background: #2d3039;

$color--nav-text: #eaddd9;
$color--logo-text: #ff8673;

$color--site-background: white;
$color--dark-section-background: #394951;
$color--dark-section-heading: #ff8673;
$color--bright-section-heading: #9d5c5f;
$color--bright-section-text: black;
$color--dark-section-text: white;

$color--complexGalleryText-background: #9aa5aa;
$color--complexGalleryText-heading: #ffaf89;
