/*
    hero gradient
    left    5 27 57   051B39
    right   0 18 43   00122B
*/
.horizontalGridSection, .verticalGridSection {
  background-color: white;
  -webkit-box-shadow: 0 2px 4px 0 rgba(161, 161, 161, 0.5);
          box-shadow: 0 2px 4px 0 rgba(161, 161, 161, 0.5);
}

section.closestNeighbour article button, section.joinSection button {
  cursor: pointer;
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  padding: 10px 27px;
  background-color: white;
  color: #2c4f80;
  border: solid 1px #2c4f80;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.52px;
}

section.closestNeighbour article button:hover, section.joinSection button:hover {
  background-color: #008cba;
  color: white;
}

section.indexHero, section.faqHero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: -1;
  max-width: 100vw;
  height: calc(100vh - 16vh);
}

@media only screen and (min-width: 420px) {
  section.indexHero, section.faqHero {
    height: calc(100vh - 8vh);
  }
}

section.indexHero div.topGradientBright, section.faqHero div.topGradientBright {
  position: absolute;
  width: 100vw;
  height: 90vh;
  background: -webkit-gradient(linear, right top, left top, from(rgba(94, 152, 226, 0.7)), to(rgba(21, 52, 98, 0.7)));
  background: linear-gradient(to left, rgba(94, 152, 226, 0.7), rgba(21, 52, 98, 0.7));
  z-index: 1;
  -webkit-clip-path: ellipse(120% 65% at 50% 20%);
          clip-path: ellipse(120% 65% at 50% 20%);
  top: 16vh;
}

@media only screen and (min-width: 420px) {
  section.indexHero div.topGradientBright, section.faqHero div.topGradientBright {
    -webkit-clip-path: ellipse(79% 58% at 64% 15%);
            clip-path: ellipse(79% 58% at 64% 15%);
    top: 8vh;
  }
}

section.indexHero div.topGradientDark, section.faqHero div.topGradientDark {
  position: absolute;
  width: 100vw;
  height: 90vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#00122b), to(#0a2f63));
  background: linear-gradient(top, #00122b, #0a2f63);
  z-index: 2;
  -webkit-clip-path: ellipse(120% 60% at 50% 20%);
          clip-path: ellipse(120% 60% at 50% 20%);
  top: 16vh;
}

@media only screen and (min-width: 420px) {
  section.indexHero div.topGradientDark, section.faqHero div.topGradientDark {
    -webkit-clip-path: ellipse(78% 55% at 64% 15%);
            clip-path: ellipse(78% 55% at 64% 15%);
    top: 8vh;
  }
}

section.indexHero div.bottomGradientBright, section.faqHero div.bottomGradientBright {
  position: absolute;
  width: 100vw;
  height: 90vh;
  background: -webkit-gradient(linear, right top, left top, from(rgba(94, 152, 226, 0.7)), to(rgba(21, 52, 98, 0.7)));
  background: linear-gradient(to left, rgba(94, 152, 226, 0.7), rgba(21, 52, 98, 0.7));
  z-index: 1;
  -webkit-clip-path: ellipse(120% 65% at 50% 20%);
          clip-path: ellipse(120% 65% at 50% 20%);
  top: 16vh;
}

@media only screen and (min-width: 420px) {
  section.indexHero div.bottomGradientBright, section.faqHero div.bottomGradientBright {
    -webkit-clip-path: ellipse(79% 58% at 64% 15%);
            clip-path: ellipse(79% 58% at 64% 15%);
    top: 8vh;
  }
}

section.indexHero div.bottomGradientDark, section.faqHero div.bottomGradientDark {
  position: absolute;
  width: 100vw;
  height: 90vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#00122b), to(#0a2f63));
  background: linear-gradient(top, #00122b, #0a2f63);
  z-index: 2;
  -webkit-clip-path: ellipse(120% 60% at 50% 20%);
          clip-path: ellipse(120% 60% at 50% 20%);
  top: 16vh;
}

@media only screen and (min-width: 420px) {
  section.indexHero div.bottomGradientDark, section.faqHero div.bottomGradientDark {
    -webkit-clip-path: ellipse(78% 55% at 64% 15%);
            clip-path: ellipse(78% 55% at 64% 15%);
    top: 8vh;
  }
}

section.indexHero div.heroMessage, section.faqHero div.heroMessage {
  text-align: center;
  max-width: 450px;
  z-index: 3;
  margin: 5vh 5vw 5vh 5vw;
}

@media only screen and (min-width: 550px) {
  section.indexHero div.heroMessage, section.faqHero div.heroMessage {
    margin: 12vh 15vw 0 15vw;
  }
}

section.indexHero div.heroMessage h1, section.faqHero div.heroMessage h1 {
  font-size: 60px;
  margin: 0 0 2vh 0;
  border-bottom: 6px solid white;
  color: white;
  text-align: left;
}

section.indexHero div.heroMessage p, section.faqHero div.heroMessage p {
  text-align: left;
  font-weight: bold;
  color: #436dac;
  font-size: 40px;
  letter-spacing: 1.48px;
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.horizontalGridSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.verticalGridSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imageContainer {
  content: " ";
  height: 100%;
  min-height: 30vh;
  width: 100%;
  min-width: 30vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 300px) {
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

nav ul li {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  font-weight: bold;
  padding-bottom: 3px;
}

nav li + li {
  margin: 0 0 0 4vw;
}

@media only screen and (max-width: 300px) {
  nav li + li {
    margin: 4vw 0 0 0;
  }
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li.active {
  border-bottom: 2px solid red;
  text-decoration: none;
  color: white;
}

nav ul li:hover:not(.active) {
  padding-bottom: 1px;
  border-bottom: 2px solid white;
}

header {
  height: 16vh;
  background-color: #051b39;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 5vw 0 5vw;
  min-height: 65px;
  background-color: #051b39;
  z-index: 999;
}

@media only screen and (min-width: 420px) {
  header {
    height: 8vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header img.logo {
  height: 50px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 30vh;
  padding: 10vh 5vw 10vh 5vw;
  color: white;
  background-color: #2c4f80;
  text-align: center;
}

footer p {
  margin-bottom: 0;
}

footer h1 {
  margin: 0 0 1% 0;
  padding: 0;
  font-family: Poppins;
  font-weight: bold;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  color: #f97c7c;
}

section.indexHero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(193, 85, 85, 0.7)), to(rgba(36, 2, 2, 0.7))), url("/project/image/page-1/mars.jpg");
  background-image: linear-gradient(to bottom, rgba(193, 85, 85, 0.7), rgba(36, 2, 2, 0.7)), url("/project/image/page-1/mars.jpg");
}

section.indexHero > div.indexMessage {
  max-width: 450px;
}

section.indexHero > div.indexMessage h1 {
  padding-bottom: 2vh;
  max-width: 95%;
}

section.newSkySection {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "newSkySectionAside" "newSkySectionImg";
  grid-gap: 2vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  max-width: 100vw;
  min-height: 500px;
  background-color: white;
}

@media only screen and (min-width: 890px) {
  section.newSkySection {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -ms-grid-columns: 0.8fr 1fr;
        grid-template-columns: 0.8fr 1fr;
        grid-template-areas: "newSkySectionImg newSkySectionAside";
  }
}

section.newSkySection div.imageContainer {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: newSkySectionImg;
  min-height: 60vh;
  background-image: url("/project/image/page-1/nightSky.jpeg");
  background-position: top;
}

section.newSkySection aside {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: newSkySectionAside;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 5vw;
  margin: 0;
}

section.newSkySection aside p {
  color: black;
  font-size: 18px;
  max-width: 100vw;
}

section.newSkySection aside h2 {
  color: #e32700;
  font-size: 36px;
  margin-bottom: 4px;
  max-width: 100vw;
}

section.newSkySection aside a {
  text-decoration: none;
  font-weight: bold;
  color: #e32700;
}

/* article direction reverse */
section.closestNeighbour {
  background-color: #f1f1f1;
  padding: 5vw;
}

section.closestNeighbour section.closestNeighbourGrid {
  min-height: 90vh;
  display: -ms-grid;
  display: grid;
  grid-gap: 2vw;
      grid-template-areas: "whyMars" "justMoveIn" "sustainableSun";
}

@media only screen and (min-width: 920px) {
  section.closestNeighbour section.closestNeighbourGrid {
    -ms-grid-columns: 1fr 1fr 0.8fr;
        grid-template-columns: 1fr 1fr 0.8fr;
        grid-template-areas: "whyMars whyMars sustainableSun" "justMoveIn justMoveIn sustainableSun";
  }
}

section.closestNeighbour h2 {
  color: #2c4f80;
  font-size: 36px;
  font-weight: 800;
  letter-spacing: 1.33px;
  text-align: center;
}

section.whyMars {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: whyMars;
}

section.whyMars .imageContainer {
  background-size: 50%;
  background-image: url("/project/image/page-1/planet-red.png");
}

section.justMoveIn {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: justMoveIn;
}

section.justMoveIn .imageContainer {
  background-image: url("/project/image/page-1/base.jpg");
}

section.sustainableSun {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: sustainableSun;
}

section.sustainableSun .imageContainer {
  background-size: 50%;
  background-image: url("/project/image/page-1/solar.png");
}

section.closestNeighbourGrid .horizontalGridSection {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 1300px) {
  section.closestNeighbourGrid .horizontalGridSection {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  section.closestNeighbourGrid .horizontalGridSection article {
    max-width: 55%;
  }
}

section.closestNeighbourGrid .verticalGridSection .imageContainer {
  max-height: 40%;
}

section.closestNeighbourGrid article {
  font-size: 16px;
  padding: 5vw;
}

@media only screen and (min-width: 920px) {
  section.closestNeighbourGrid article {
    padding: 3vw;
  }
}

section.closestNeighbourGrid article h3 {
  margin-top: 0;
  font-size: 24px;
  color: #e32700;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.92;
  letter-spacing: 0.89px;
  font-weight: 500;
}

section.closestNeighbourGrid article p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: 0.59px;
}

section.faqHero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(193, 85, 85, 0.7)), to(rgba(36, 2, 2, 0.7))), url("/project/image/page-2/hero-2.jpg");
  background-image: linear-gradient(to bottom, rgba(193, 85, 85, 0.7), rgba(36, 2, 2, 0.7)), url("/project/image/page-2/hero-2.jpg");
}

section.faqHero > div.faqMessage {
  max-width: 520px;
}

section.faqHero > div.faqMessage h1 {
  padding-bottom: 3vh;
}

section.faqSection {
  background-color: #f1f1f1;
}

section.faqSection section.faqGrid {
  display: -ms-grid;
  display: grid;
  grid-gap: 2vw;
      grid-template-areas: "whyMove" "risks" "purpose" "timeToTravel";
}

@media only screen and (min-width: 920px) {
  section.faqSection section.faqGrid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "whyMove risks risks" "whyMove purpose purpose" "timeToTravel timeToTravel timeToTravel";
  }
}

@media only screen and (min-width: 1300px) {
  section.faqSection section.faqGrid {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
}

section.faqSection h2 {
  color: #2c4f80;
  font-size: 36px;
  font-weight: 800;
  letter-spacing: 1.33px;
  text-align: center;
  padding: 5vw 0 5vw 0;
  margin: 0;
}

section.faqGrid article {
  font-size: 16px;
  padding: 10vw;
}

@media only screen and (min-width: 920px) {
  section.faqGrid article {
    padding: 5vw;
  }
}

section.faqGrid article h3 {
  margin-top: 0;
  font-size: 24px;
  color: #e32700;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.92;
  letter-spacing: 0.89px;
  font-weight: 500;
}

section.faqGrid article p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: 0.59px;
}

section.faqGrid article li {
  font-weight: bold;
  line-height: 1.75;
}

section.faqGrid .horizontalGridSection {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 1300px) {
  section.faqGrid .horizontalGridSection {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 50vh;
  }
}

section.faqGrid .verticalGridSection {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.faqGrid .verticalGridSection .imageContainer {
  max-height: 40%;
}

section.whyMove {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: whyMove;
}

section.risks {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: risks;
}

section.risks article {
  max-width: 1000px;
  margin-right: auto;
}

section.risks p:last-child {
  font-weight: normal;
  color: #323232;
}

section.purpose {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: purpose;
}

section.purpose .imageContainer {
  min-width: 55%;
  background-image: url("/project/image/page-2/nicolas-lobos.jpg");
}

section.timeToTravel {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: timeToTravel;
  -webkit-box-shadow: 0 0 1px 0 rgba(161, 161, 161, 0.5);
          box-shadow: 0 0 1px 0 rgba(161, 161, 161, 0.5);
  /* remove bottom shadow for last grid element */
}

section.timeToTravel .imageContainer {
  min-height: 300px;
  background-image: radial-gradient(circle at 50% 39%, #072142, #00132c 101%);
}

@media only screen and (min-width: 1300px) {
  section.timeToTravel .imageContainer {
    max-width: 60vh;
  }
}

div.solarSystem {
  position: relative;
}

div.solarSystem .mars {
  z-index: 2;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  background-image: url("/project/image/page-2/planets/mars.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation-name: highOrbit;
          animation-name: highOrbit;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

div.solarSystem .marsOrbit {
  z-index: 1;
  position: absolute;
  top: calc(50% - 120px);
  left: calc(50% - 120px);
  border: 1px dashed grey;
  border-radius: 100%;
  height: 240px;
  width: 240px;
}

div.solarSystem .sun {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  width: 48px;
  height: 48px;
  background-image: url("/project/image/page-2/planets/sun.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

div.solarSystem .earth {
  z-index: 2;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  background-image: url("/project/image/page-2/planets/earth.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation-name: lowOrbit;
          animation-name: lowOrbit;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

div.solarSystem .earthOrbit {
  z-index: 1;
  position: absolute;
  top: calc(50% - 70px);
  left: calc(50% - 70px);
  height: 140px;
  width: 140px;
  border: 1px dashed grey;
  border-radius: 100%;
}

@-webkit-keyframes highOrbit {
  from {
    -webkit-transform: rotate(0deg) translateX(-120px) rotate(0deg);
            transform: rotate(0deg) translateX(-120px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(-120px) rotate(-360deg);
            transform: rotate(360deg) translateX(-120px) rotate(-360deg);
  }
}

@keyframes highOrbit {
  from {
    -webkit-transform: rotate(0deg) translateX(-120px) rotate(0deg);
            transform: rotate(0deg) translateX(-120px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(-120px) rotate(-360deg);
            transform: rotate(360deg) translateX(-120px) rotate(-360deg);
  }
}

@-webkit-keyframes lowOrbit {
  from {
    -webkit-transform: rotate(0deg) translateX(70px) rotate(0deg);
            transform: rotate(0deg) translateX(70px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(70px) rotate(-360deg);
            transform: rotate(360deg) translateX(70px) rotate(-360deg);
  }
}

@keyframes lowOrbit {
  from {
    -webkit-transform: rotate(0deg) translateX(70px) rotate(0deg);
            transform: rotate(0deg) translateX(70px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(70px) rotate(-360deg);
            transform: rotate(360deg) translateX(70px) rotate(-360deg);
  }
}

section.joinSection {
  text-align: center;
  padding: 5vw 10vw 5vw 10vw;
}

section.joinSection h2 {
  font-size: 36px;
  font-weight: bold;
  color: #e32700;
}

section.joinSection p {
  max-width: 510px;
  margin: 0 auto 4vh auto;
  color: #2c4f80;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.89px;
}

section.joinSection form {
  display: -ms-grid;
  display: grid;
  grid-gap: 3vw;
      grid-template-areas: "firstNameInput" "lastNameInput" "dateOfBirthInput" "professionalInput" "primeskillInput" "motivationInput" "sendButton";
  -webkit-box-shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
          box-shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
}

section.joinSection input {
  color: #2c4f80;
}

section.joinSection input {
  padding: 10px 27px;
  border-radius: 5px;
  border: solid 1px #2c4f80;
}

label[for="firstName"] {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: firstNameInput;
}

label[for="lastName"] {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: firstNameInput;
}

label[for="dateOfBirth"] {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: dateOfBirthInput;
}

label[for="professional"] {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: professionalInput;
}

label[for="primeskill"] {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: primeskillInput;
}

label[for="motivation"] {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: motivationInput;
}

button.sendJoinRequestButton {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: sendButton;
}

section.joinSection button {
  max-width: 128px;
  margin-left: auto;
  margin-right: auto;
}
/*# sourceMappingURL=main.css.map */