@import "variable/variables";
// @import "styles/extends/extends";
// @import "styles/mixins/mixins";

@import "partial/header";

// @import "partial/welcome";

@import "partial/footer";

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100vw;
  object-fit: cover;
}
