html {
  font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

body {
  margin: 0px;
  background-color: rgb(239, 239, 239);
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #006991;
  font-family: BhrHeaderFont, Trebuchet MS;
}

header > h1 {
  font-size: 23px;
  box-sizing: border-box;
  max-width: 1020px;
  padding: 2px 10px 0px 10px;
  margin: 0px auto 0px auto;
  color: white;
}

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  background-color: #3b455e;
  padding: 5px 10px 5px 10px;
  margin-bottom: 1px;
  z-index: 2;
}

header nav {
  box-sizing: border-box;
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
  padding: 6px 10px 4px 10px;
  z-index: 10; /* Make sure this stays on top of other stuff */
}

nav ul {
  /* Make list less ugly */
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 6px;
  font-size: 16px;
}

nav ul li:hover {
  text-decoration: underline;
  color: white;
}

main {
  overflow: hidden;
  max-width: 1020px;
  padding-top: 50px;
  padding-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  /*background-color: yellow;*/
}

@media only screen and (max-width: 1105px) {
  aside {
    display: none;
  }
  body > main {
    max-width: 790px;
  }
}

aside::before {
  z-index: 1;
  background-color: rgb(117, 146, 82);
  content: "";
  display: block;
  position: relative;
  border-radius: 3px 3px 0 0;
  width: calc(100% + 20px);
  height: 3px;
  left: -10px;
}

aside {
  box-sizing: border-box;
  float: right;
  max-width: 300px;

  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;

  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

aside th {
  border-bottom: 1px solid lightgray;
  padding: 6px 6px 2px 0px;
}

aside td {
  padding: 3px 4px 3px 0px;
}

td.textRight {
  text-align: right;
}

th.textLeft {
  text-align: left;
}

.articleContainer {
  box-sizing: border-box;
  max-width: 780px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

article::before {
  z-index: 1;
  background-color: #006991;
  content: "";
  display: block;
  position: relative;
  border-radius: 3px 3px 0 0;
  width: calc(100% + 40px);
  height: 3px;
  left: -20px;
}

article {
  box-sizing: border-box;
  max-width: 760px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;

  background-color: #fff;
  border-radius: 3px;
  text-align: left;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

article p {
  font-size: 12px;
  font-family: verdana, geneva;
  line-height: 1.4em;
  margin: 10px 0 10px;
}

article > .articleMetaInfo {
  color: #888;
  font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

article > ul {
  padding-left: 24px;
  margin-top: 8px;
}

article > ul > li {
  margin-top: 4px;
  margin-bottom: 4px;
  line-height: 1.25;
  margin-bottom: 5px;
}

article > img {
  object-fit: cover;
  display: block;
  max-width: 100%;
  width: 100%;
  height: 200px;
}

article > img.aboutMeImage {
  object-fit: cover;
  display: block;
  max-width: 100%;
  width: 100%;
  height: 400px;
  margin-bottom: 1px;
}

article + article {
  margin-top: 20px;
}

article > p > strong {
  display: inline-block;
  font-size: 12px;
  font-family: verdana, geneva;
  padding: 4px 0px 3px 0px;
}

a {
  color: white;
}

a:not(.active) {
  text-decoration: none;
}

section {
  margin-left: auto;
  margin-right: auto;
}

hr {
  border: 0;
  border-top-style: none;
  border-top-width: 0px;
  border-top: 1px solid #dfdfdf;
  width: 100%;
  height: 1px;
  margin: 10px 0;
}

.contactMeContainer,
.contactMeContainer {
  box-sizing: border-box;
}

main.aboutMeContainer {
  box-sizing: border-box;
  max-width: 640px;
  padding-left: 10px;
  padding-right: 10px;
}

section#contactMeSection {
  box-sizing: border-box;
  padding: 10px 6px 6px 6px;
  background-color: #e3e3da;
}

address {
  box-sizing: border-box;
  color: white;
  font-size: 16px;
  background-color: rgb(75, 112, 30);
  padding: 6px;
  margin-bottom: 1px;
}

footer {
  text-align: center;
  color: white;
  padding: 15px;
  margin-top: 1px;
  background-color: #516556;
}

article > h2 {
  font-size: 21px;
  line-height: 25px;

  margin: 10px 0px 4px 0px;
  outline-color: rgb(0, 105, 145);
  outline-style: none;
  outline-width: 0px;
  padding: 0px;
  text-align: left;
}

form input,
form textarea,
form select,
form .select {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0.5em;
}

input,
textarea,
.input {
  box-sizing: border-box;

  border: 1px solid rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.4);
  padding: 0.9em;
  width: 100%;
  text-overflow: ellipsis;
}

input,
textarea,
.input {
  box-sizing: border-box;
  font-family: Source Sans Pro, Arial, Helvetica, sans-serif;

  border: 1px solid rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.4);
  text-overflow: ellipsis;
}

textarea {
  display: block;
  max-width: 580px;
}

button,
input {
  box-sizing: border-box;
  line-height: normal;
  vertical-align: baseline;
}

button,
a.button,
input[type="submit"] {
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
  white-space: nowrap;
  font-size: 0.7em;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: #103742;
  padding: 0.7rem 1.2rem 0.67rem;
  margin-bottom: 10px;
  border: 0px;
}
