@import "styles/variables/variables";
@import "styles/extends/extends";
@import "styles/mixins/mixins";

@import "styles/partials/header";

@import "styles/partials/welcome";
@import "styles/partials/promos";
@import "styles/partials/footGallery";

@import "styles/partials/road";
@import "styles/partials/pole";
@import "styles/partials/complexGallery";

@import "styles/partials/footer";

html {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: $color--site-background;
  margin: 0px;
}

.logo {
  font-family: "Unica One";
  line-height: 50%;
  font-size: 26px;
  color: $color--logo-text;
}

h1 {
  font-size: 52px;
  @extend %common-heading;
}

h2 {
  font-size: 48px;
  @extend %common-heading;
}

h3 {
  font-size: 36px;
  @extend %common-heading;
}
