@import "variables/variables";
@import "extends/extends";
@import "mixins/mixins";

@import "partials/header";

@import "partials/welcome";
@import "partials/promos";
@import "partials/footGallery";

@import "partials/road";
@import "partials/pole";
@import "partials/complexGallery";

@import "partials/footer";

html {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: $color--site-background;
  margin: 0px;
}

.logo {
  font-family: "Unica One";
  font-size: 26px;
  color: $color--logo-text;
}

h1 {
  font-size: 52px;
  @extend %common-heading;
}

h2 {
  font-size: 48px;
  @extend %common-heading;
}

h3 {
  font-size: 36px;
  @extend %common-heading;
}
