section.bottomGrid {
  display: grid;
  grid-template-areas:
    "imageBlockLeft"
    "bottomGridAside"
    "imageBlockRight";
  grid-gap: 0;
  align-items: center;
  justify-items: center;
  padding: 5vw;
  background-color: white;

  @media only screen and (min-width: 1020px) {
    grid-template-areas: "imageBlockLeft bottomGridAside imageBlockRight";
  }

  img {
    object-fit: cover;
    align-self: stretch;
    max-width: 100%;
  }
}

%image-block-mobile {
  display: grid;
  grid-gap: 2vw;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
}

section.imageBlockLeft {
  @extend %image-block-mobile;
  grid-area: imageBlockLeft;
  grid-template-areas: "bottomGridImg2 bottomGridImg3";
}

section.imageBlockRight {
  @extend %image-block-mobile;
  grid-area: imageBlockRight;
  grid-template-areas: "bottomGridImg5 bottomGridImg8";
}

div.bottomGridText {
  grid-area: bottomGridAside;
  padding: 4vw;
  max-width: 65vw;
  box-sizing: border-box;
  background-color: #9aa5aa;

  margin: -25vw -10vw -25vw -10vw;
  z-index: 500;

  @media only screen and (min-width: 1020px) {
    // position: absolute;
    max-width: 40vw;
    margin: -4vw;
  }

  p {
    font-size: 16px;
    color: white;
  }

  h4 {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.22px;
    margin-top: 0;
    color: #ffaf89;
  }
}

.bottomGridLeftBlockTallImg1 {
  display: none;
  grid-area: bottomGridLeftBlockTallImg1;
}
.bottomGridImg2 {
  grid-area: bottomGridImg2;
}
.bottomGridImg3 {
  grid-area: bottomGridImg3;
}
.bottomGridLeftBlockTallImg2 {
  display: none;
  grid-area: bottomGridLeftBlockTallImg2;
}
.bottomGridImg5 {
  grid-area: bottomGridImg5;
}
.bottomGridImg6 {
  display: none;
  grid-area: bottomGridImg6;
}
.bottomGridImg7 {
  display: none;
  grid-area: bottomGridImg7;
}
.bottomGridImg8 {
  grid-area: bottomGridImg8;
}

@media only screen and (min-width: 1020px) {
  section.bottomGrid img {
    width: 100%;
  }
  .bottomGridLeftBlockTallImg1,
  .bottomGridLeftBlockTallImg2,
  .bottomGridImg6,
  .bottomGridImg7 {
    display: block;
  }

  section.imageBlockLeft {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "bottomGridLeftBlockTallImg1 bottomGridImg3"
      "bottomGridLeftBlockTallImg1 bottomGridLeftBlockTallImg2"
      "bottomGridImg2 bottomGridLeftBlockTallImg2";
  }

  section.imageBlockRight {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "bottomGridImg5 bottomGridImg7"
      "bottomGridImg6 bottomGridImg7"
      "bottomGridImg6 bottomGridImg8";
  }
}
