footer {
  background-color: $color--footer-background;
  min-height: 25vh;
  padding: 4vh 4vw 1vh 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .logo {
  margin-top: 6vh;
  margin-bottom: 3vh;
}
