section.poleSection {
  display: grid;

  grid-template-areas:
    "poleSectionAside"
    "poleSectionImg";

  align-items: center;
  justify-items: center;
  box-sizing: border-box;
  flex-direction: row-reverse;

  max-width: 100vw;

  background-color: $color--dark-section-background;

  @media only screen and (min-width: $breakpoint-poleSection) {
    flex-direction: initial;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6vw;
    grid-template-areas: "poleSectionImg poleSectionAside";
  }

  aside {
    grid-area: poleSectionAside;
    align-self: center;
    padding: 5vw;
    margin: 0;

    @media only screen and (min-width: $breakpoint-poleSection) {
      padding: 2vw 5vw 2vw 0;
    }

    p {
      color: white;
      max-width: 100vw;
    }

    h4 {
      color: $color--dark-section-heading;
      font-size: 24px;
      margin-bottom: 4px;
      max-width: 100vw;
    }
  }

  img {
    grid-area: poleSectionImg;
    justify-self: left;
    object-fit: cover;
    max-width: 100%;
    height: 100%;
  }
}
