section.welcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  background-image: radial-gradient(circle at 50% 0, rgba(57, 73, 81, 0.6), rgba(12, 32, 42, 0.6) 75%),
    url("https://cdn.zeplin.io/5c8a58e74e90c024d1785415/assets/C6371149-1110-4456-804B-04A056B3F8C1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  min-height: max-content;
  min-height: 65vh;
  padding: 5vw;

  @media only screen and (min-width: $breakpoint-welcome) {
    justify-content: left;
  }

  .welcomeMessageContainer h1 {
    text-align: center;
    margin: 0;
    padding: 0;
    color: $color--dark-section-heading;
    @media only screen and (min-width: $breakpoint-welcome) {
      max-width: 40vw;
    }
  }

  .welcomeMessageContainer p {
    align-self: center;
    margin: 0;
    text-align: center;

    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 25px;
    font-weight: bold;
    line-height: 1.1;
    letter-spacing: 0.92px;
    color: white;
    @media only screen and (min-width: $breakpoint-welcome) {
      max-width: 40vw;
    }
  }
}
