@import "../../extend/hero-section";

section.joinHero {
  @extend %hero-section;

  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  background-image: linear-gradient(to bottom, rgba(193, 85, 85, 0.7), rgba(36, 2, 2, 0.7)),
    url("/project/image/page-3/hero-3.jpg");

  div.heroMessage {
    margin: 2vh 5vw 2vh 5vw;
    @media only screen and (min-width: $breakpoint-hero-message) {
      margin: 12vh;
    }
  }
}
