@import "../../extend/hero-section";

section.indexHero {
  @extend %hero-section;

  justify-content: flex-end;
  align-items: flex-start;

  background-image: linear-gradient(to bottom, rgba(193, 85, 85, 0.7), rgba(36, 2, 2, 0.7)),
    url("/project/image/page-1/mars.jpg");
}

section.indexHero > div.indexMessage {
  max-width: 450px;

  margin: 5vh 5vw 5vh 5vw;
  @media only screen and (min-width: $breakpoint-hero-message) {
    margin: 12vh 15vw 0 15vw;
  }

  h1 {
    padding-bottom: 2vh;
    max-width: 95%;
  }
}
