@import "../../extend/blue-button";

$breakpoint-closestNeighbourSection: 1025px;
$breakpoint-closestNeighbourArticle: 1300px; /* article direction reverse */

section.closestNeighbour {
  background-color: $color--graySection-background;
  padding: 5vw;

  section.closestNeighbourGrid {
    min-height: 90vh;

    display: grid;
    grid-gap: 2vw;

    grid-template-areas:
      "whyMars"
      "justMoveIn"
      "sustainableSun";

    @media only screen and (min-width: $breakpoint-closestNeighbourSection) {
      grid-template-columns: 1fr 1fr 0.8fr;
      grid-template-areas:
        "whyMars whyMars sustainableSun"
        "justMoveIn justMoveIn sustainableSun";
    }
  }

  h2 {
    color: $color--section-heading1;
    font-size: 36px;
    font-weight: 800;
    letter-spacing: 1.33px;
    text-align: center;
  }
}

section.whyMars {
  grid-area: whyMars;
  .imageContainer {
    background-size: 50%;
    background-image: url("../image/page-1/planet-red.png");
  }
}

section.justMoveIn {
  grid-area: justMoveIn;
  .imageContainer {
    background-image: url("../image/page-1/base.jpg");
  }
}

section.sustainableSun {
  grid-area: sustainableSun;
  .imageContainer {
    background-size: 50%;
    background-image: url("../image/page-1/solar.png");
  }
}

section.closestNeighbourGrid .horizontalGridSection {
  flex-direction: column;
  @media only screen and (min-width: $breakpoint-closestNeighbourArticle) {
    flex-direction: row;
    article {
      max-width: 55%;
    }
  }
}

section.closestNeighbourGrid .verticalGridSection {
  .imageContainer {
    max-height: 40%;
  }
}

section.closestNeighbourGrid article {
  font-size: 16px;
  padding: 5vw;

  @media only screen and (min-width: $breakpoint-closestNeighbourSection) {
    padding: 3vw;
  }

  h3 {
    margin-top: 0;
    font-size: 24px;
    color: $color--article-heading;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.92;
    letter-spacing: 0.89px;
    font-weight: 500;
  }

  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.38;
    letter-spacing: 0.59px;
  }
}

section.closestNeighbour article button {
  @extend %blue-button;
}
