$height--header-mobile: 16vh;
$height--header-desktop: 8vh;

$color--header-background: #051b39;

$color--article-heading: #e32700;
$color--section-heading1: #2c4f80;

$color--button-text: #2c4f80;
$color--button-border: #2c4f80;
$color--button-background: white;

$color--button-background-hover: #008cba;
$color--button-text-hover: white;

$color--graySection-background: #f1f1f1;
$color--footer-background: #2c4f80;

/*
    hero gradient
    left    5 27 57   051B39
    right   0 18 43   00122B
*/
