html {
  font-family: Poppins;
}

body {
  background-color: #f8f8f8;
  margin: 0px;
}

img.logo {
  min-height: min-content;
  min-width: min-content;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4% 4% 0 4%;
  min-height: 70px;
}

header > nav {
  font-family: Poppins-Bold;
  font-size: 16px;
  display: flex;
  align-items: center;
}

header > nav > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding: 0px;
}

header > nav > ul > li {
  min-width: max-content;
}

header > nav > ul > li + li {
  margin-left: 20px;
}

nav > ul > li > a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

@media only screen and (min-width: 483px) {
  header {
    flex-direction: row;
    padding: 0 4% 0 4%;
  }
}
