* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.gridSection {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(161, 161, 161, 0.5);
}

.imageWrapper {
  // height: min-content;
  // width: 100%;
  content: "";
}
