section.closestNeighbour {
  background-color: $color--graySection-background;
  padding: 5vw;
}

section.closestNeighbour a {
  text-decoration: none;
}

section.closestNeighbour h1 {
  color: #2c4f80;
}
