footer {
  max-height: 30vh;
  padding: 10vh 5vw 10vh 5vw;
  color: white;
  background-color: $color--footer-background;
  text-align: center;
}

footer > h1 {
  margin: 0;
  padding: 1%;
  font-family: Poppins;
  font-weight: bold;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  color: #f97c7c;
}
