footer {
  height: 30vh;
  color: white;
  background-color: $color--footer-background;
  text-align: center;
}

footer > h1 {
  font-weight: bold;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  color: #f97c7c;
}
