$breakpoint-nav: 300px;

nav {
  font-size: 16px;
  display: flex;
  align-items: center;

  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    @media only screen and (max-width: $breakpoint-nav) {
      flex-direction: column;
    }
  }

  ul li {
    min-width: max-content;
    font-weight: bold;
    padding-bottom: 2px;
  }

  li + li {
    margin: 0 0 0 4vw;
    @media only screen and (max-width: $breakpoint-nav) {
      margin: 4vw 0 0 0;
    }
  }

  ul li a {
    text-decoration: none;
    color: white;
  }

  ul li.active {
    padding-bottom: 0px;
    border-bottom: 2px solid red;
    text-decoration: none;
    color: white;
  }

  ul li:hover:not(.active) {
    padding-bottom: 0px;
    border-bottom: 2px solid white;
  }
}
